openapi: 3.0.3
info:
  title: Combat Service API
  description: Combat resolution
  version: 1.0.0

servers:
  - url: http://localhost:3005/api

tags:
  - name: Combat

paths:

  /combat/resolve:
    post:
      tags: [Combat]
      summary: Resolve a combat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CombatRequest'
      responses:
        200:
          description: Combat result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatResult'

components:

  schemas:

    CombatRequest:
      type: object
      properties:
        hero:
          $ref: '#/components/schemas/HeroStats'
        monster:
          $ref: '#/components/schemas/Monster'

    CombatResult:
      type: object
      properties:
        result:
          type: string
          enum: [win, lose]
        loot:
          type: array
          items:
            $ref: '#/components/schemas/LootItem'

    LootItem:
      type: object
      properties:
        artifactId:
          type: string
          format: uuid
          description: UUID of the artifact
        chance:
          type: number
          description: Probability in percentage (0-100)
        amount:
          type: integer
          description: Quantity of the item dropped

    HeroStats:
      type: object
      properties:
        heroId:
          type: string
        level:
          type: integer
        xp:
          type: integer
        stats:
          $ref: '#/components/schemas/Stats'

    Stats:
      type: object
      properties:
        hp:
          type: integer
        att:
          type: integer
        def:
          type: integer
        regen:
          type: integer

    Monster:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        description:
          type: string
        stats:
          $ref: '#/components/schemas/Stats'
        lootTable:
          type: array
          items:
            $ref: '#/components/schemas/LootItem'
